{%- macro table_open() -%}
<div class="table-responsive">
    <table class="table table-bordered table-hover">
{%- endmacro -%}

{%- macro table_close() -%}
    </table>
</div>
{%- endmacro -%}

{%- macro tbody_open() -%}
<tbody class="tbody--valigin-middle">
{%- endmacro -%}

{%- macro tbody_close() -%}
</tbody>
{%- endmacro -%}
